

<div class="page-width" style="padding-bottom: 30px;">
  <h1>{{ page.title | escape }}</h1>
    
  {{ page.content }}
  
</div>

{% schema %}
{
  "name": "Legal Pages",
  "tag": "section",
  "class": "legal-section",
  "settings": []
}
{% endschema %}

{% stylesheet %}
  
{% endstylesheet %}